<!DOCTYPE html>
<html>
<head>
    <title>详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/xq.css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <style>
        ::-webkit-textfield-decoration-container
    </style>
</head>
<body>
<div id="app4">
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6
            offset-sm-3 col-6 offset-3"
                     style="background-color:#ebe8e4;
            border-radius: 15px;margin-top: 3%;
            margin-bottom: 3%;">
                    <h1 class="text-center"
                        style="text-align: center;
             letter-spacing: 5px;font-size:35px;
             font-weight: bold;">详情</h1>
                </div>
            </div>

        </header>
        <div class="text-center" style="font-size: 50px;">{{ info.detail.username }}</div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2 col-10 offset-1"
                 style="background-color:LightCoral;margin-top: 0%;">
                <div class="a " style="font-size: larger;font-weight: 500; margin-top: 5% ;height: 10%;"><p>{{ info.detail.stime }}</p></div>
                <div style="text-align: center; font-size: larger; font-style: italic;font-weight:bold;
                       background-color:LightCoral;margin-top:0%;margin-bottom:0%;border-radius: 0;height: 15%;"><p>
                    to</p></div>
                <div class="a" style="font-size: larger;font-weight: 500; height: 10%;"><p>{{ info.detail.etime }}</p></div>
                <div class="a"
                     style="font-size: 35px;font-weight: 510;margin-top: 2% ; height: 20%;border-radius: 15px;">
                    <p>{{ info.detail.location }}</p></div>
                <div class="a" style="font-size: 30px;font-weight:bold;text-align: center;
                       margin-top: 2% ; height: 15%;border-radius: 15px;"><p>备注：{{ info.detail.remarks }}</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2  col-11 offset-0" style="margin-top: 2%;">
                <div class="clearfix" style="margin-top: 0%;">
                    <form>
                        <div class="input-group mb-3">
                            <label class="text" style="font-size: x-large;margin-left: 2%;">名字：</label>
                            <input type="text" placeholder="请输入你的名字(o°ω°o)" v-model="pname" class="form-control"
                                   style="border-radius:100px">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-8 offset-sm-2  col-11 offset-0">
                <div class="clearfix" style="margin-top: 0%;">
                    <form>
                        <div class="input-group mb-3">
                            <label class="text" style="font-size: x-large;margin-left: 2%;">备注：</label>
                            <input type="text" placeholder="此处可不填(〃'▽'〃)" v-model="pmessage" class="form-control"
                                   style="border-radius:100px">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-sm-6   col-6 ">
                <!--流光按钮-->
                <!--<div class="parent" style="margin-top: 15%; margin-left:15%;">
                <aa href="#">加入</a>
                </div>-->
                <button v-on:click="join" type="button" class="btn btn-default" style="background-color:#19fff8;margin-top: 5%; margin-left:10%;margin-bottom: 2%;
font-size: 30px;font-weight:bold;color:  #53443d;border-radius: 10px;width: 80%;">
                    加入
                </button>

            </div>


            <div class="col-md-6  col-sm-6   col-6 ">
                <!--流光按钮-->
                <!--<div class="parent" style="margin-top: 15%; margin-right: 15%;">
                <cc href="#">取消</c>
                </div>-->
                <button type="button" class="btn btn-default" style="background-color: #ff7822;margin-top: 5%; margin-left:15%;margin-bottom: 2%;
font-size: 30px;font-weight:bold;color:  #53443d;border-radius: 10px;width: 80%;">取消
                </button>
            </div>
        </div>
    </div>

        <div  class ="table-responsive" style="text-align:center">
            <table   border ="0"  cellspacing ="0"  cellpadding ="0"  class ="table">
                <tr  class =" label-primary">
                    <th  scope ="col"  width ="50%"  >姓名</span></th>
                    <th  scope ="col">备注</span></th>
                </tr>
                <tr  class ="active" v-for="i in info.joined">
                    <td  width ="50%">{{i.qname}} </td>
                    <td >{{i.qmessage}} </td>
                </tr>

            </table>
        </div>


</div>

<script src="js/detail.js"></script>
</body>
</html>