<!DOCTYPE html>
<html>
<head>
    <title>搜索自习</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://cdn.staticfile.org/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/card.css" />
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdn.staticfile.org/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<body>
<div id="app2">
<div class="jumbotron text-center" style="margin-bottom:150px;;color: rgb(0, 132, 255) ;background-color: white">
    <h1>搜索自习</h1>
</div>


<div class="container mt-3" >
    <div class="clearfix" style="margin-bottom: 150px;">
        <form>
            <div class="input-group mb-3" >
                <label class="text" >时间：</label>
                <!--<div class="input-group-prepend " >
                  <span class="input-group-text" >时间:</span>
                </div>-->
                <input type="datetime-local" v-model="Time" placeholder="请输入时间(*^▽^*)" class="form-control" style="border-radius:100px">
            </div>
        </form>
    </div>

    <div class="clearfix" style="margin-bottom: 150px;">
        <form>
            <div class="input-group mb-3">
                <label class="text" >地点：</label>
                <!--<div class="input-group-prepend" >
                  <span class="input-group-text">地点:</span>
                </div>-->
                <input type="text" v-model="Location" placeholder="请输入地点(✪ω✪)" class="form-control" style="border-radius:100px" list="urllist">
            </div>
        </form>
    </div>

    <!--<div class="clearfix" style="margin-bottom: 150px;">
      <form>
        <div class="input-group mb-3">
          <label class="text" >备注：</label>
           <textarea name="text" rows="2" cols="142"  style="border-radius:25px"></textarea>
        </div>
      </form>
    </div>-->

    <div class="clearfix" style="visibility:hidden;" style="margin-bottom: 150px;">
        <form>
            <div class="input-group mb-3">
                <label class="text" >备注：</label>
                <!--<div class="input-group-prepend" >
                  <span class="input-group-text">地点:</span>
                </div>-->
                <input type="text"  placeholder="此处可不填(〃'▽'〃)" class="form-control" style="border-radius:100px">
            </div>
        </form>
    </div>
</div>


<!--<div style="text-align:center">
 <div class="jumbotron text-center" style="margin-bottom:0;background-color:#fff;">
<button type="submit" class="btn btn-primary" >发布</button>
</div>
</div>-->

<!--流光按钮-->
    <div class="parent" style="margin-bottom: 150px;">
        <a v-on:click="search">查询</a>
    </div>
    <div v-for="i in info">
    <div class="container card_container" style="margin-top:25px;" @click="window.location.href=('detail.html?tid='+i.tid)">
        <div class="row">
            <div class="col-md-10  col-sm-10 col-10" style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;border-radius:25px;">
                <div class="row" >
                    <div class="col-md-12 col-sm-12 col-12" style="background-color:#dd7e7e;
               box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444; border-radius: 25px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-4" style="background-color: #dd7e7e;
             border-top-left-radius:25px;">
                                <p class="font-weight-bold" style="font-size: 30px;text-align:center;
               text-align:right;text-align:justify; margin-top: 20%;margin-left: 27%;">加入人数</p>
                                <p class="font-weight-bold" style="font-size: 50px; color: #FFF;margin-left: 26%;">
                                    {{ i.joined }}
                                </p>
                            </div>
                            <div class="col-md-8  col-sm-8 col-8" style="background-color:#dd7e7e;">
                                <div class="aa" style="font-size: larger;"><p>{{ i.stime }}</p></div>
                                <div class="aa" style="text-align: center; font-size: larger; font-style: italic;font-weight:bold;
                 background-color:#dd7e7e;margin-top:0;margin-bottom:0;border-radius: 0;"><p>to</p></div>
                                <div class="aa" style="font-size: larger;"><p>{{ i.etime }}</p></div>
                                <div class="aa" style="font-size: 30px;"><p>{{ i.location }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12" style="background-color:WhiteSmoke; border-bottom-left-radius:25px;height:60px;">
                        <h4 style="font-size: 30px; font-weight: bold; margin-top:10px;">备注：{{ i.remarks }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-2" style="background-color:#61be90; flex: auto; border-top-right-radius:25px;border-bottom-right-radius:25px;">
                <h3 class="text-center finished">{{ i.finished }}</h3>
            </div>
        </div>

    </div>
    </div>

    <!--与地点项用ID关联-->
    <datalist id="urllist">
        <option value="博学楼">博学楼</option>
        <option value="33号楼">33号楼</option>
        <option value="34号楼">34号楼</option>
    </datalist>
</div>
<script src="js/search.js"></script>
</body>
</html>